# Rust
target/
**/*.rs.bk
Cargo.lock

# Anchor
.anchor/
test-ledger/
.DS_Store

# IDLs
target/idl/
target/types/

# Logs
*.log

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Node
node_modules/
dist/
build/

# OS
Thumbs.db

